.hero {
  @extend %flexCenter;
  flex-direction: column;
  height: calc(100vh - 5rem);
  overflow-x: hidden;

  @include mobile {
    align-items: start;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: inherit;
    background-image: url(#{$landing-page-images-path}/foodtato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  div {
    @extend %flexCenter;
    flex-direction: column;

    @include mobile {
      display: table;
    }

    > h1 {
      font-size: rem(48);
      text-transform: uppercase;

      @include mobile {
        font-size: rem(64);
      }
    }

    > p {
      font-size: rem(20);
    }

    > a {
      margin-block: 32px;
    }
  }
}
