.hero {
  @extend %flexCenter;
  flex-direction: column;
  height: calc(100vh - 5rem);
  overflow-x: hidden;

  @include mobile {
    align-items: start;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: inherit;
    background-image: url(#{$landing-page-images-path}/foodtato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  div {
    @include mobile {
      padding-left: 8rem;
    }

    > h1 {
      font-size: 3rem;
      text-transform: uppercase;

      @include mobile {
        font-size: 4rem;
      }
    }

    > p {
      font-size: 1.2rem;
    }
  }

  > a {
    margin-block: 2rem;

    @include mobile {
      margin-inline: 8rem;
    }
  }
}
