.home {
  height: 100vh;
  padding-left: 8rem;
  padding-top: 15rem;

  div {
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    > p {
      font-size: 1.2rem;
    }
  }

  > a {
    display: block;
    width: 10rem;
    padding: 1rem;
    border-radius: 10px;
    margin-block: 2rem;
    background-color: $red;
    color: $white;
    text-align: center;

    &:hover {
      background-color: $darkred;
    }
  }
}
