.menu {
  width: 100%;
  min-height: 620px;
  padding-bottom: 16px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }

  .container {
    > h2 {
      font-size: rem(48);
      text-align: center;
      padding-block: 16px;
    }

    > div {
      @extend %flexBetween;
      gap: 20px;

      @include laptop {
        flex-direction: row;
        gap: 0;
      }
    }
  }
}
