%flexColumn {
  display: flex;
  flex-direction: column;
}

%alignCenter {
  display: flex;
  align-items: center;
}

%justifyCenter {
  display: flex;
  justify-content: center;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%gridCenter {
  display: grid;
  place-items: center;
}
