// ================DELETE ================
.r {
  border: 0.1rem solid red; // DELETE
}
.g {
  border: 0.1rem solid green; // DELETE
}
.b {
  border: 0.1rem solid blue; // DELETE
}
// =============== DELETE ================

/* ------------------- */
/* Colors Start        */
/* ------------------- */
$colors: (
  "black": $black,
  "white": $white,
);

@each $color, $value in $colors {
  .bg-#{$color} {
    background: $value;
  }
}

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
}

/* ------------------- */
/* Font weights Start          */
/* ------------------- */
$fonts-weights: (
  weights: (
    400: $fw-400,
    500: $fw-500,
    600: $fw-600,
    700: $fw-700,
    800: $fw-800,
    900: $fw-900,
  ),
);

@each $fonts-weight, $weights in $fonts-weights {
  @each $weight, $value in $weights {
    .fw-#{$value} {
      font-weight: $value;
    }
  }
}

/* ------------------- */
/* Font sizes Start          */
/* ------------------- */
$font-sizes: (
  fonts: (
    "10": $fs-10,
    "11": $fs-11,
    "12": $fs-12,
    "13": $fs-13,
    "14": $fs-14,
    "15": $fs-15,
  ),
);

@each $fonts-size, $fonts in $font-sizes {
  @each $font, $value in $fonts {
    .fs-#{$font} {
      font-size: $value;
    }
  }
}

/* ------------------- */
/* Z-index             */
/* ------------------- */
$z-indexes: (
  indexes: (
    -1: $z-index0,
    1: $z-index1,
    2: $z-index2,
    3: $z-index3,
    4: $z-index4,
    5: $z-index5,
  ),
);

@each $z-index, $indexes in $z-indexes {
  @each $index, $value in $indexes {
    .z-#{$value} {
      z-index: $value;
    }
  }
}
