/* ------------------- */
/* Font family         */
/* ------------------- */
$ff-roboto: "Roboto", sans-serif;

/* ------------------- */
/* Colors               */
/* ------------------- */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$slate: hsl(214, 32%, 91%);
// $primary: #0000a1;
$primary: hsl(337, 100%, 31%);
$secondary: hsl(337, 100%, 25%);
$dark: hsl(0, 0%, 13%);
$lightdark: hsla(0, 0%, 13%, 0.711);
$pink: rgb(255, 239, 239);
$box-shadow: 20px 20px 60px hsl(0, 0%, 85%), -20px -20px 60px $white;

/* ------------------- */
/* Height              */
/* ------------------- */
$vhHeight: 100vh;
$headerHeight: 80px;
$heroHeight: calc($vhHeight - $headerHeight);

/* ------------------- */
/* Image Path          */
/* ------------------- */
$images-path: "../../assets" !default;

/* ------------------- */
/* Convert px to rem   */
/* ------------------- */
$base-rem: 16 !default;
