/* ------------------- */
/* Font family         */
/* ------------------- */
$ff-roboto: "Roboto", sans-serif;

/* ------------------- */
/* Colors               */
/* ------------------- */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
// $primary: #0000a1;
$primary: rgb(156, 0, 60);
$secondary: rgb(126, 0, 48);
$dark: rgb(33, 33, 33);
$lightdark: rgba(33, 33, 33, 0.711);
$pink: rgb(255, 239, 239);

/* ------------------- */
/* Image Path          */
/* ------------------- */
$images-path: "../../assets" !default;

/* ------------------- */
/* Convert px to rem   */
/* ------------------- */
$base-rem: 16 !default;
