.order-details {
  width: 100%;
  padding-block: 30px;
  margin: 0;
  background-image: url(#{$images-path}/order-detail-bg-laptop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 96%);

  @include media-breakpoint-up(md) {
    padding-block: 0;
  }

  > .container {
    @extend %flexCenter;
    flex-direction: column;
    gap: 10px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      height: $heroHeight;
    }

    .card {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 500px;
      }

      &-header {
        text-align: center;
      }

      &-body {
        display: flex;
        > ul {
          list-style: none;

          &:first-child {
            width: 30%;
            > li {
              text-transform: uppercase;
              font-weight: 700;
            }
          }

          &:last-child {
            width: 70%;

            > li {
              > div {
                font-weight: 700;
                > span {
                  font-weight: 500;
                }
              }
            }
          }
        }

        > .card-title,
        .card-text {
          @extend %flexBetween;
          padding: 10px;
          border-radius: 5px;
          background-color: $primary;
          color: $white;
        }

        > .card-text {
          background-color: $slate;
          color: $black;

          > .item-name,
          .item-qty {
            font-weight: 700;
          }
        }
      }
    }
  }
}
