.payment-success {
  @extend %flexCenter;
  height: calc(70vh - 80px);

  > section {
    @extend %flexCenter;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    min-height: 50%;
    padding: 30px;
    border-radius: 10px;
    background: $white;
    box-shadow: $box-shadow;

    @include laptop {
      width: 50%;
    }

    > h1 {
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-weight: 600;
      animation: identifier 300ms forwards infinite;
    }

    > p {
      text-align: center;
      font-weight: 600;
    }
  }
}

@keyframes identifier {
  from {
    background-image: linear-gradient(
      90deg,
      hsl(0, 100%, 50%),
      hsl(240, 100%, 50%)
    );
  }
  to {
    background-image: linear-gradient(
      90deg,
      hsl(0, 92%, 69%),
      hsl(240, 88%, 66%)
    );
  }
}
