.contact,
.shipping,
.confirm-order {
  width: 100%;
  height: calc(100vh - 80px);
  background: $primary;
  margin-block: 30px;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 15px;
    border-radius: 10px;
    background: $primary;
    color: $white;
    box-shadow: 20px 20px 60px #850033, -20px -20px 60px #b30045;

    @include media-breakpoint-up(lg) {
      width: 460px;
      padding: 30px;
    }

    > h1 {
      text-align: center;
    }

    > button {
      background-color: $white;
      color: $primary;
      margin-top: 20px;
    }
  }
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

  @include media-breakpoint-up(lg) {
    width: 400px;
  }
}
