header {
  box-shadow: 0 0 10px rgba($black, 0.23);
  nav {
    @extend %flexBetween;
    height: 80px;
    background-color: $white;

    @include tablet {
      padding: 32px;
    }

    > div {
      @extend %flexCenter;

      > svg {
        color: $primary;
        font-size: 48px;
      }

      > a {
        margin: 0 8px;
        color: $dark;
        transition: color 0.3s;

        @include tablet {
          margin: 0 32px;
        }

        &:hover {
          color: $lightdark;
        }

        > svg {
          color: $primary;
          transform: inherit;
          font-size: rem(24);

          &:hover {
            color: $lightdark;
          }
        }
      }
    }
  }
}
