.loader {
  @extend %flexCenter;
  height: 100vh;

  > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15rem;
    color: $primary;
    opacity: 0.3;
  }

  > div {
    font-size: rem(30);
  }
}
